<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="../../static/LoginPage.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/LoginPage.css') }}">

    <title>Login</title>

</head>

<body>

<div class = LoginFormBox>
    <h1>Login</h1>
    <form action="#" method="POST">
        <input type="text" placeholder="Username" class="field">
        <input type="password" placeholder="Password" class="field">
        <input type="submit" value="Confirm login" class="btn">
    </form>
    <br>
    <div class="pass-link">
        <a href="ForgotPasswordPage.html" >Forgot your password?</a>
    </div>
    <br>

    <div class="pass-link">
        <a href="RegisterAccountPage.html" >Create new account</a>
    </div>
</div>
<!--
<footer class="foot">
    <input type="button" class="button" value="Back">
</footer>
--->

</body>

</html>