<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">

	<link href="../../static/ForgotPasswordPage.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/ForgotPasswordPage.css') }}">
	<title>Login</title>

</head>

<body>

<div class=LoginFormBox>
	<h1>New password</h1>
	<h3>Please enter your email address</h3>
	<form action="ConfirmationPage.html" method="POST">
		<input class="field" placeholder="Email address" type="text">
		<input class="btn" type="submit" value="Confirm submission">

	</form>
</div>
<!--
<footer class="foot">
    <input type="button" class="button" value="Back">
</footer>
--->

</body>

</html>